<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yohannes.dev.app.ilist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SignUp"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".activities.SignIn"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/NoActionBar"/>
        <activity android:theme="@style/NoActionBar" android:name=".activities.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddEditNoteActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>